get:
  summary: Report for user HTML
  tags:
    - "Report"
  security:
    - bearerAuth: []
  parameters:
  - in: path
    name: classId
    required: true
    schema:
      type: string
  responses:
    '200':
      description: HTML report page